# Created by https://www.toptal.com/developers/gitignore/api/flatpak,direnv
# Edit at https://www.toptal.com/developers/gitignore?templates=flatpak,direnv

### direnv ###
.direnv
.envrc

### Flatpak ###
.flatpak-builder
build
build-dir
repo

# End of https://www.toptal.com/developers/gitignore/api/flatpak,direnv
